/* Custom properties */
:root {
    --title-color: #E53170;
    --contact-color: #58BCE6;
    --card-text-color: #fff;
}

/* Reset properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Fredoka, 'Comic Sans';
}

/* Utilities */
.container {
    max-width: 1080px;
    margin: 0 auto;
}