/* COLOR PALETTE
header-title: #E53170
email-contact: #58BCE6
*/

/* Reset properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Fredoka, 'Comic Sans';
}

/* Utilities */
.container{
    max-width: 1080px;
    margin: 0 auto;
}